@tailwind base;
@tailwind components;
@tailwind utilities;

/* .input-label {
  @apply text-xs text-slate-400;
}

.input-box {
  @apply mb-4 w-full rounded border-[1.5px] bg-transparent px-5 py-3 text-sm outline;
}

.btn-primary {
  @apply hover:bg-blue my-1 w-full rounded p-2 text-sm text-white;
}

.icon-btn {
  @apply hover:text-primary cursor-pointer text-xl text-slate-300;
} */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .animate-gradient-1 {
    animation: gradient-animation 15s ease infinite;
    background-size: 400% 400%;
  }
}
.hover-text-orange:hover {
  color: #FFA500; /* Orange color on hover */
  transform: translateY(-3px); /* Slightly lift the button */
  background-color: rgba(255, 165, 0, 0.1); /* Light orange background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
/* Navbar blurred background */
.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(10px); /* Blur the background */
}

/* Button hover effect with blue color */
.navbar .hover-blue:hover {
  color: #1D4ED8; /* Blue text on hover */
  background-color: rgba(29, 78, 216, 0.1); /* Light blue background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Hide scrollbars globally */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

body {
  padding-top: 80px; /* Height of the navbar */
}

/* Adjusting arrow size and animation */
@keyframes arrowAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4mm); /* Small movement */
  }
  100% {
    transform: translateX(0);
  }
}



.animate-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: arrowAnimation 1s infinite ease-in-out;
}

/* Adding delay for each arrow */
.animate-arrow span:nth-child(1) {
  animation-delay: 0s;
}

.animate-arrow span:nth-child(2) {
  animation-delay: 0.2s;
}

.animate-arrow span:nth-child(3) {
  animation-delay: 0.4s;
}
